
body, html {
  background-color: #111;
  margin: 0;
  padding: 0;
}

.gallery {
  background-color: #111;
}

.gallery a {
  background-color: transparent;
  display: block;
}

.gallery img {
  display: block;
  width: 100%;
  background-color: transparent;
  border-radius: 6px;
}

/* Lightbox background fix */
.lightboxOverlay {
  background-color: rgba(0, 0, 0, 0.95) !important;
}
